/* style.css */
/* Color Palette (bold hues):["#f72585","#7209b7","#3a0ca3","#4361ee","#4cc9f0"]  */
/* Color Palette (coastal hues): ["#012a4a","#013a63","#01497c","#014f86","#2a6f97","#2c7da0","#468faf","#61a5c2","#89c2d9","#a9d6e5"] */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #a9d6e5, #01497c); 
}
/* Container to center everything */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Game board */
#gameBoard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #b8d4db;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(40, 29, 151, 0.12);
}

/* Rows */
.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Cells */
.cell {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: #f0f4f8; /* light neutral background */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  color: #2c3e50; /* default */
}

/* Hover effect */
.cell:hover {
  background: #dce3ea;
  transform: scale(1.05);
}

/* Different colors for X and O */
.cell.x {
  color: #012a4a; /* classy red */
}

.cell.o {
  color: #89c2d9; /* deep blue */
}

/* Status Text */
#statusText {
 
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;         /* dark slate */
  text-align: center;
  padding: 8px 15px;
  border-radius: 8px;
  background: #f0f4f8;    /* soft neutral */
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}

/* Reset Button */
button {
  margin-top: 0px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #c9cdd5;
  color: #1f6391;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}


button:hover {
  background: linear-gradient(135deg, #2980b9, #1f6391);
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.winner {
  background: #2a6f97 !important; /* vibrant green */
  color: white !important;
  box-shadow: 0 4px 12px #03045e;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }  
}

confetti